.App {
  text-align: center;
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.connection {
  left: 0;
}
/*
.node {
  width:  300px;
}
*/

input[type=number]{
  width: 110px;
}

select{
  width: 110px;
}

.socket.item {
  background-color: #282c34;
  border-radius: 0px;
}

.socket.pipe {
  background-color: coral;
  border-color: rgb(65, 65, 65);
  border-width: 5px;
}
.socket.any {
  background-color: aliceblue;
  border-color: #282c34;
  border-width: 2px;
  border-radius: 8px;
}
.socket .used {
  background-color: darkgray;
}

.dock {
  height: 100px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.dock-item {
  display: inline-block;
  vertical-align: top;
  transform: scale(0.8);
  transform-origin: 50% 0;
}

.container {
  flex: 1;
  overflow: hidden;
}


.header {
  grid-area: header;
  background-color: #61dafb;
}
.footer {
  grid-area: footer;
  background-color: #61dafb;
  height: 40px;
}

.left-sidebar {
  grid-area: lsidebar;
  background-color: lightcyan;
  overflow-y: scroll;
  overflow-x: hidden;
}
.right-sidebar {
  grid-area: rsidebar;
  background-color: lightcyan;
}
.content {
  grid-area: content;
  position: relative;
}

.wrapper {
  width:78vw;
  height:92vh;
  display: grid;
  grid-template-columns: 200px auto 200px;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    'header header header'
    'lsidebar content rsidebar'
    'footer footer footer';
}