
/* --------------------- MAIN LAYOUT ------------------------ */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper{
    display: grid;
    grid-template-columns: 250px 1fr 250px;
    grid-template-rows: 60px 1fr 30px;
    gap: 0px 0px;
    grid-template-areas:
      "topbar topbar topbar"
      "leftbar canvas right-menu"
      "bottombar bottombar bottombar";
    width: 100vw;
    height: 100vh;
}
.topbar {
    grid-area: topbar;
    background-color: #1BA1E2;
    z-index: 2;
    box-shadow: 5px 0px 5px #444;
}
.logo {
    width: 200px;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    left: 20px;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.tip {
    width: 800px;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    right: 20px;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 90%;
    padding: 5px;
}
.sidebar {
    background-color: #1581B7;
}

.leftbar {
  grid-area: leftbar;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  overflow-x: hidden;
  overflow-y: scroll;
}

.right-menu {
  grid-area: right-menu;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.canvas{
    grid-area: canvas;
    min-width: 500px;
    background-color: #444;

}

.bottombar {
    grid-area: bottombar;
    text-align: center;
    background-color: #1BA1E2;
    vertical-align: middle; 
}

textarea{
  border-radius: 8px;
  padding: 6px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  resize: none;
}

.dock-item {
  display: inline-block;
  vertical-align: top;
  width: 80%;
  height: 45px;
  background-color: #e3f2fd;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  padding: 3px;
  text-transform: uppercase;
  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0px 3px 3px #444;
  margin: 5px;
  transition: all 0.3s ease;
}

.dock-item:hover {
  background-color: #2196f3;
  box-shadow: 0px 6px 3px #444;
}
.dock-message {
  color: white;
  text-align: center;
  padding: 0px 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 90%;
}

.bottom-link {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* --------------------- SOCKETS ------------------------ */


input[type=number]{
    font-size: larger;
  width: 60%;
}
input[type=text]{
    font-size: larger;
    width: 60%;
}

select{
  width: auto;
}

/* --------------------- NODES ------------------------ */

.donateButton {
  margin: 2px 20px;
  height: 17px;
  background-color: #E1F5FE;
  border-radius: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-weight: bold;
  cursor: pointer;
  border: none;
  padding: 2px 8px;
}
.donateButton:hover{
  background-color: #FFDD83;
}

.two-letter-label {
  float: left;
  font-size: 30px;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-right: 5%;
  user-select: none;
}

.title {
  background: darkgoldenrod;
  border-radius: 6px;
  text-align: center;
}
.title-extractor {
  background: maroon;
  border-radius: 6px 6px 0px 0px;
  border-bottom: 4px;
}

.title-smelter {
  background: lightseagreen;
  border-radius: 6px 6px 0px 0px;
  border-bottom: 4px;
}

.title-producer {
  background: orangered;
  border-radius: 6px 6px 0px 0px;
  border-bottom: 4px;
}

.title-logistics {
  background: olive;
  border-radius: 6px 6px 0px 0px;
  border-bottom: 4px;
}

.ti-grad {
  background-image: -webkit-linear-gradient(left, transparent, rgba(068, 068, 068, 0.9));
  background-image: -moz-linear-gradient(left, transparent, rgba(068, 068, 068, 0.9));
  background-image: -o-linear-gradient(left, transparent, rgba(068, 068, 068, 0.9));
  background-image: linear-gradient(to right, transparent, rgba(068, 068, 068, 0.9));
}


/* --------------------- Experimental ------------------------ */


.objectDropControl {
  font-size: 18px !important;
}

.MuiInputBase-root {
    font-size: 18px !important;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.node-pane {
  width: 230px;
  height: 230px;
  background-color: #444;
  border-radius: 5%;
  display: inline-block;
  position: relative;
  z-index: 0;
  opacity: 0.8;
}

.node-pane:hover {
  background-color: #1581B7;
}

.node-pane:active {
  background-color: aquamarine;
}

.content-pane {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  margin: 5%;
  position: absolute;
  top: 0;
  z-index: 2;
  cursor: default;
}

.title-pane {
  height: 40px;
  text-align: center;
  color: white;
  border-bottom: 2px #444;
  font-size: x-large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  user-select: none;
}

.label-pane {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  background-color: #888;
  color:white;
  padding-top: 2%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  user-select: none;
}

.label {
  margin: 1%;
  color:white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: larger;
  background-color: #888;
  display: flex;
  align-items: center;
  user-select: none;
}

.ovc-pane {
  height: 20px;
  background-color: #888;
  display: flex;
  flex-direction: row;
  padding-left: 15px;
  color:white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  user-select: none;
}

.min-lr {
  width: 300px;
  height: 230px;
}

.min-ud {
  width: 230px;
  height: 300px;
}

.asy-lr {
  width: 400px;
  height: 220px;
}

.asy-ud {
  width: 220px;
  height: 400px;
}

.ref-lr {
  width: 300px;
  height: 300px;
}

.ref-ud {
  width: 300px;
  height: 300px;
}

.man-lr {
  width: 400px;
  height: 300px;
}

.man-ud {
  width: 300px;
  height: 400px;
}

.sto-lr {
  width: 288px;
  height: 144px;
}

.sto-ud {
  width: 144px;
  height: 288px;
}

.socket-pane {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  display: flex;
}

.lrpane {
  flex-direction: column;
}

.udpane {
  flex-direction: row;
}

.top-socket {
  margin: -18px auto 0px auto;
}

.bottom-socket {
  margin: 93% auto 0px auto;
}

.left-socket {
  margin: auto 0px auto -6px;
}

.right-socket {
  margin: auto 0px auto 85%;
}

.right-socket-pnt {
    margin: auto 0px auto 55%;
}

.bottom-socket-min {
  margin: 125% auto 0px auto;
}

.bottom-socket-asy {
  margin: 175% auto 0px auto;
}

.bottom-socket-ref {
  margin: 95% auto 0px auto;
}

.bottom-socket-sto {
  margin: 190% auto 0px auto;
}

.bottom-socket-man {
  margin: 130% auto 0px auto;
}

.bottom-socket-pnt {
    margin: 70% auto 0px auto;
  }



.socket.item {
  background-color: lightgreen;
  border-color: floralwhite;
  border-width: 0px;
  width: 20px;
  height: 20px;
  border-radius: 2px; //px 10px 10px 2px;
}

.socket.pipe {
  background-color: coral;
  border-color: floralwhite;
  width: 20px;
  height: 20px;
  border-width: 0px;
}
.socket.any {
  background-color: lightgreen;
  border-color: coral;
  width: 20px;
  height: 20px;
  border-width: 2px;
}

.socket.number {
  background-color: gold;
  border-color: lightgoldenrodyellow;
  width: 15px;
  height: 15px;
  border-width: 0px;
  margin: 2px 0px 0px 0px;
}

.socket.input {
  margin-left: inherit !important;
  margin-right: inherit !important;
  position: relative;
  z-index: 4 !important;
}

.socket.output {
  margin-left: inherit !important;
  margin-right: inherit !important;
  position: relative;
  z-index: 4 !important;
}

.fluid-connection {
  stroke: orange !important;
}

.ovc-connection {
  stroke: gold !important;
  stroke-width: 3px !important;
  stroke-dasharray: 0 !important;
  animation: none !important;
}

svg.connection.socket-input-number, 
svg.connection.socket-output-number {
  path.main-path { 
    stroke: gold !important;
    stroke-width: 3px !important;
    stroke-dasharray: 0 !important;
    animation: none !important;
  }
}

svg.connection.socket-input-pipe, 
svg.connection.socket-output-pipe {
  path.main-path { 
    stroke: orange !important;
  }
}